{{ if .Site.IsMultiLingual }}
	{{ range .Site.Languages }}
        {{ if eq . $.Site.Language }}
            {{ if eq (string .) "vi" }}
                <div style="margin-left: 0.12rem; margin-right: 0.12rem;"> | </div>
            {{ end }}
            <a class="active language" style="text-decoration: underline;"> {{ upper .LanguageName }} </a>
            {{ if eq (string .) "en" }}
                <div style="margin-left: 0.12rem; margin-right: 0.12rem;"> | </div>
            {{ else }}
                <div> </div>
            {{ end }}
        {{ else }}
            
            {{ range $.Translations }}
                <a href="{{ .Permalink }}" style="text-decoration: none;"> {{ upper .Language.LanguageName }} </a>
            {{ end }}
        {{ end }}
	{{ end }}
{{ end }}
